<% pageId = "preview"; %> <%- include('../_partial/_header') %>

<header class="cover js-cover">
  <img src="" alt="" class="js-cover-img" />
</header>

<div class="container">
  <div class="containerMask js-containerMask"></div>
  <div class="container-inner">
    <section class="overview">
      <div class="overview-art-wrapper">
        <div class="overview-art">
          <div
            id="art"
            data-tilt
            data-tilt-glare
            data-tilt-max-glare="0.35"
            data-tilt-scale="1.05"
          >
            <img src="" alt="Album Art" class="art-img js-art-img" />
          </div>
        </div>
        <div id="art-empty" class="art-empty">
          <span class="label">NOW PRINTING</span>
        </div>
      </div>
      <div class="overview-main">
        <h2 class="overview-title js-title">Header Title</h2>
        <h3 class="organization-name js-organizationName">Organization Name</h3>
        <div class="overview-table">
          <dt class="overview-label">Specification</dt>
          <dd class="overview-content js-specification-content">
            Specification
          </dd>
          <dt class="overview-label">Release Date</dt>
          <dd class="overview-content js-releaseDate-content">Release Date</dd>
          <dt class="overview-label js-overview-label">Location</dt>
          <dd class="overview-content js-location-content">Location</dd>
          <dt class="overview-label">Price</dt>
          <dd class="overview-content js-price-content">Price</dd>
          <dt class="overview-label js-hashtag-label">Hashtag</dt>
          <dd class="overview-content js-hashtag">
            <a
              href="https://twitter.com/hashtag/"
              class="js-hashtag-link"
              target="_blank"
              rel="noopener"
              >#hashtag</a
            >
          </dd>
        </div>
      </div>
    </section>
    <section id="store" class="section-store js-section-store">
      <h2 class="store-heading js-store-heading">Store</h2>
      <div class="store-wrap js-store-wrap">
        <a
          href=""
          class="button button-primary js-store-link"
          target="_blank"
          rel="noopener"
          >Store</a
        >
      </div>
    </section>
    <nav class="nav-share">
      <a class="share-btn share-don js-share-don" target="_blank" rel="nofollow noopener">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_42_8)">
            <path
              d="M45.487 23.5953C45.0557 20.4401 42.2617 17.9535 38.9496 17.4717C38.3908 17.3903 36.2736 17.094 31.3692 17.094H31.3326C26.4269 17.094 25.3744 17.3903 24.8156 17.4717C21.5957 17.9402 18.6552 20.1745 17.9418 23.3671C17.5987 24.9394 17.562 26.6825 17.6258 28.2814C17.7167 30.5744 17.7343 32.8634 17.9459 35.1471C18.0921 36.6641 18.3473 38.1689 18.7095 39.6504C19.3876 42.3865 22.1328 44.6635 24.8223 45.5925C27.7019 46.5612 30.7986 46.7221 33.7658 46.057C34.0922 45.9822 34.4151 45.8955 34.7342 45.7967C35.4544 45.5711 36.2994 45.3189 36.9206 44.8757C36.9291 44.8695 36.9361 44.8615 36.941 44.8522C36.946 44.843 36.9487 44.8328 36.9491 44.8224V42.6094C36.9489 42.5997 36.9466 42.5901 36.9421 42.5813C36.9378 42.5726 36.9314 42.565 36.9236 42.5589C36.9158 42.5529 36.9067 42.5487 36.8971 42.5466C36.8874 42.5445 36.8774 42.5445 36.8677 42.5467C34.9667 42.9936 33.0186 43.2176 31.0641 43.2141C27.7004 43.2141 26.7958 41.6431 26.5367 40.9891C26.3285 40.4239 26.1962 39.8343 26.1434 39.2353C26.1428 39.2253 26.1447 39.2152 26.1489 39.206C26.153 39.1968 26.1593 39.1887 26.1672 39.1823C26.1752 39.1759 26.1845 39.1715 26.1945 39.1693C26.2045 39.1672 26.2148 39.1674 26.2248 39.1699C28.0941 39.6138 30.0104 39.8378 31.9335 39.8373C32.396 39.8373 32.8571 39.8373 33.3196 39.8253C35.2537 39.7719 37.2922 39.6744 39.1951 39.3087C39.2426 39.2994 39.2901 39.2914 39.3308 39.2793C42.3323 38.7121 45.1886 36.9316 45.4789 32.423C45.4897 32.2455 45.5169 30.5638 45.5169 30.3796C45.5182 29.7536 45.7217 25.939 45.487 23.5953ZM40.8674 34.8455H37.7113V27.2377C37.7113 25.6361 37.0332 24.8192 35.6538 24.8192C34.1374 24.8192 33.3779 25.7855 33.3779 27.6942V31.8584H30.2408V27.6942C30.2408 25.7855 29.4799 24.8192 27.9636 24.8192C26.5923 24.8192 25.9074 25.6361 25.906 27.2377V34.8455H22.7526V27.0068C22.7526 25.4052 23.1681 24.1327 23.9991 23.1896C24.8562 22.2486 25.9806 21.7655 27.3763 21.7655C28.9916 21.7655 30.2123 22.3767 31.0261 23.598L31.8114 24.8953L32.5981 23.598C33.4118 22.3767 34.6325 21.7655 36.2452 21.7655C37.6395 21.7655 38.7638 22.2486 39.6237 23.1896C40.4547 24.1319 40.8702 25.4043 40.8702 27.0068L40.8674 34.8455Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_42_8">
              <rect width="28" height="29.8919" fill="white" transform="translate(17.6 16.8)" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <a class="share-btn share-mi js-share-mi" target="_blank" rel="nofollow noopener">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M30.42 38.7594C30.1307 39.0042 29.7524 39.2044 29.2851 39.3602C28.8401 39.4937 28.3171 39.5605 27.7163 39.5605C26.9152 39.5605 26.2476 39.4604 25.7135 39.2601C25.2017 39.0598 24.8679 38.7149 24.7121 38.2253C24.089 36.267 23.5772 34.6871 23.1766 33.4854C22.7761 32.2615 22.4645 31.1933 22.242 30.2809H22.0751C22.0083 31.5939 21.9527 32.7956 21.9082 33.886C21.886 34.9541 21.8637 36 21.8414 37.0236C21.8414 38.0473 21.8192 39.0821 21.7747 40.128C21.7524 41.1739 21.7079 42.331 21.6412 43.5994C21.3519 43.7107 20.9736 43.7997 20.5063 43.8665C20.0389 43.9555 19.5716 44 19.1043 44C18.1252 44 17.3574 43.8442 16.8011 43.5327C16.267 43.2211 16 42.6537 16 41.8303L16.968 24.8067C17.146 24.5174 17.5355 24.2058 18.1363 23.872C18.7371 23.5382 19.5828 23.3713 20.6732 23.3713C21.8526 23.3713 22.7761 23.5605 23.4437 23.9388C24.1113 24.2949 24.6008 24.8846 24.9124 25.7079C25.1127 26.242 25.3241 26.854 25.5466 27.5438C25.7914 28.2337 26.025 28.9458 26.2476 29.6801C26.4924 30.4145 26.726 31.1488 26.9485 31.8832C27.1711 32.5953 27.3713 33.2406 27.5494 33.8192H27.7163C28.2503 31.9499 28.7844 30.1474 29.3185 28.4117C29.8526 26.6537 30.3421 25.185 30.7872 24.0056C31.121 23.8275 31.5438 23.6829 32.0556 23.5716C32.5897 23.4381 33.1794 23.3713 33.8248 23.3713C34.9152 23.3713 35.8053 23.5382 36.4951 23.872C37.185 24.1836 37.5855 24.6398 37.6968 25.2406C37.7858 25.6857 37.8748 26.3755 37.9638 27.3102C38.0751 28.2225 38.1864 29.2573 38.2976 30.4145C38.4089 31.5716 38.5202 32.7955 38.6314 34.0862C38.7427 35.3769 38.8428 36.6231 38.9319 37.8248C39.0431 39.0042 39.1321 40.0946 39.1989 41.096C39.2656 42.0751 39.3102 42.8317 39.3324 43.3658C38.9541 43.5883 38.5535 43.7441 38.1307 43.8331C37.7302 43.9444 37.2072 44 36.5619 44C35.7163 44 35.0042 43.8554 34.4256 43.5661C33.847 43.2768 33.5355 42.7093 33.491 41.8637C33.3574 39.4381 33.2684 37.2573 33.2239 35.3213C33.2017 33.3853 33.1572 31.7608 33.0904 30.4478H32.9235C32.701 31.3157 32.3783 32.4061 31.9555 33.7191C31.5327 35.032 31.0209 36.7121 30.42 38.7594Z"
            fill="white" />
          <path
            d="M42.4659 23.0042C42.4659 22.1586 42.7441 21.4465 43.3004 20.8679C43.879 20.2893 44.6356 20 45.5702 20C46.5049 20 47.2503 20.2893 47.8067 20.8679C48.3853 21.4465 48.6745 22.1586 48.6745 23.0042C48.6745 23.8498 48.3853 24.5619 47.8067 25.1405C47.2503 25.7191 46.5049 26.0083 45.5702 26.0083C44.6356 26.0083 43.879 25.7191 43.3004 25.1405C42.7441 24.5619 42.4659 23.8498 42.4659 23.0042ZM48.4075 43.6996C48.1627 43.7441 47.7955 43.7997 47.306 43.8665C46.8387 43.9555 46.3602 44 45.8707 44C45.3811 44 44.936 43.9666 44.5355 43.8999C44.1572 43.8331 43.8345 43.6996 43.5675 43.4993C43.3004 43.299 43.089 43.032 42.9332 42.6982C42.7997 42.3421 42.733 41.886 42.733 41.3296V27.7441C42.9777 27.6996 43.3338 27.6439 43.8011 27.5772C44.2907 27.4882 44.7802 27.4437 45.2698 27.4437C45.7594 27.4437 46.1933 27.477 46.5716 27.5438C46.9722 27.6106 47.306 27.7441 47.573 27.9444C47.8401 28.1446 48.0403 28.4228 48.1739 28.7789C48.3296 29.1127 48.4075 29.5577 48.4075 30.114V43.6996Z"
            fill="white" />
        </svg>
      </a>
      <a class="share-btn share-x js-share-x" target="_blank" rel="nofollow noopener">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_42_13)">
            <path
              d="M34.2833 30.3857L43.2178 20H41.1006L33.3427 29.0177L27.1466 20H20L29.3698 33.6364L20 44.5274H22.1173L30.3098 35.0044L36.8534 44.5274H44L34.2827 30.3857H34.2833ZM31.3833 33.7566L30.4339 32.3987L22.8802 21.5939H26.1323L32.2282 30.3137L33.1776 31.6716L41.1016 43.006H37.8495L31.3833 33.7571V33.7566Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_42_13">
              <rect width="24" height="24.54" fill="white" transform="translate(20 20)" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <!--test<a href="" class="share-btn share-tw js-share-tw" target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.388" height="19" title="twitter" viewBox="0 0 19.388 19">
          <g transform="translate(0 0)
        scale(0.8 0.8)">
            <path
              d="M14.258 10.152L23.176 0h-2.113l-7.747 8.813L7.133 0H0l9.352 13.328L0 23.973h2.113l8.176-9.309 6.531 9.309h7.133zm-2.895 3.293l-.949-1.328L2.875 1.56h3.246l6.086 8.523.945 1.328 7.91 11.078h-3.246zm0 0"
              fill="#FFF"></path>
          </g>
        </svg>
      </a>
      <a href="" class="share-btn share-fb js-share-fb" target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" title="Facebook" viewBox="0 0 20 20.002">
          <g transform="translate(0.004 0.016)">
            <path
              d="M20,9.952a10,10,0,1,0-11.562,9.84v-6.96H5.9V9.952H8.433v-2.2a3.53,3.53,0,0,1,3.781-3.877,15.96,15.96,0,0,1,2.234.187v2.46H13.183a1.441,1.441,0,0,0-1.625,1.557V9.952h2.781l-.453,2.881H11.558v6.96A9.976,9.976,0,0,0,20,9.952Z"
              transform="translate(0)" fill="#fff"></path>
            <path
              d="M49.243,35.019l.649-3.223H45.906V29.7c0-.889.56-1.742,2.329-1.742h1.814V25.209a29.162,29.162,0,0,0-3.2-.209c-3.269,0-5.419,1.551-5.419,4.338V31.8H37.8v3.223h3.628v7.788a18.058,18.058,0,0,0,4.479,0V35.019Z"
              transform="translate(-33.807 -22.96)" fill="none"></path>
          </g>
        </svg>
      </a>-->
    </nav>

    <div class="embeddedPlayer-wrapper">
      <iframe
        id="soundcloud-embed"
        width="100%"
        height="300"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
      >
      </iframe>
      <div class="embeddedPlayer" id="youtube-embed">
        <iframe
          class="embeddedPlayer-player js-embedded-player"
          src="https://www.youtube.com/embed/"
          frameborder="0"
          allowfullscreen="true"
          scrolling="no"
          width="620"
          height="378"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        >
        </iframe>
      </div>
    </div>

    <section class="section section-about" id="about">
      <div class="section-wrapper">
        <header class="section-header">
          <h2 class="js-about-heading">About</h2>
        </header>
        <div class="about-content">
          <div class="about-wrap js-about-wrap">
            <p class="about js-about">About</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-gallery" id="gallery">
      <div class="section-gallery-wrapper">
        <header class="section-header">
          <h2>Gallery</h2>
        </header>
        <ul class="gallery-items js-dom-gallery-wrap">
          <li
            class="gallery-item js-gallery-item js-dom-gallery"
            data-index="1"
          >
            <img
              src=""
              alt=""
              class="gallery-img js-gallery-img js-dom-gallery-img"
            />
          </li>
        </ul>
      </div>

      <%# lightbox %>
      <div class="js-dom-gallery-lightbox-wrap">
        <div
          class="gallery-lightbox js-gallery-lightbox js-dom-gallery-lightbox"
          data-index="1"
        >
          <img
            src=""
            alt=""
            class="gallery-lightbox-image js-gallery-lightbox-image js-dom-gallery-lightbox-img"
          />
        </div>
      </div>
    </section>
    <section class="section section-tracklist" id="tracklist">
      <div class="section-wrapper">
        <header class="section-header">
          <h2 class="js-tracklist-heading">Tracklist</h2>
        </header>
        <div class="track-table js-track-wrap">
          <div class="track-tr js-track">
            <div class="track-th js-track-time"></div>
            <div class="track-td">
              <h4 class="track-heading js-track-name">Track name</h4>
              <div class="track-description js-track-description">
                Track description
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-member">
      <div class="section-wrapper">
        <header class="section-header">
          <h2 class="js-member-heading">Member Heading</h2>
        </header>
        <div class="member-wrap js-member-wrap">
          <div class="member js-member">
            <div class="member-role js-member-role">Role</div>
            <div class="member-content">
              <span class="member-name js-member-name">Member name</span>
              <nav class="member-link js-member-link">
                <a
                  href=""
                  class="member-url js-member-url"
                  target="_blank"
                  rel="noopener"
                  >Website</a
                >
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section-organization">
      <h3 class="organization-logo js-organization-logo">
        <img
          src=""
          alt=""
          class="organization-logo-img js-organization-logo-img"
        />
      </h3>
      <nav class="organization-links js-organization-link-wrap">
        <a
          href=""
          class="organization-link js-organization-link"
          target="_blank"
          rel="noopener"
        >
          <span class="js-organization-link-label">Link</span>
        </a>
      </nav>
    </div>
    <footer class="footer">
      <div class="footer-wrapper">
        <div class="footer-content">
          <a
            href="/"
            class="footer-workTitle js-footer-workTitle"
            target="_blank"
            rel="noopener"
          >
          </a>
          <p class="footer-text js-footer-text"></p>
        </div>
        <div class="theme-info">
          <div class="theme-info-label">
            <p>
              Made with
              <a
                href="https://tokusetsu4.sanographix.net"
                target="_blank"
                rel="noopener"
              >
                <span class="footer-tokusetsu-logo"
                  ><%- include ('../_partial/_logo') %></span
                >
              </a>
            </p>
            <p>
              Template designed by
              <a href="https://sanographix.net" target="_blank" rel="noopener"
                >SANOGRAPHIX</a
              >
            </p>
          </div>
          <div class="theme-info-install">
            <a
              href="https://tokusetsu4.sanographix.net"
              target="_blank"
              rel="noopener"
              class="install-btn"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<aside class="prebuild-banner js-prebuild">
  <button class="prebuild-toggle js-prebuild-toggle">▼</button>
  <div class="prebuild-container">
    <div class="prebuild-content">
      <h1>Almost Done...!</h1>
      <select id="change-language">
        <option value="jp" selected="selected">
          日本語
        </option>
        <option value="en">
          English
        </option>
      </select>
      <p data-lang="jp">
        <strong>現在、プレビューを表示しています。</strong><br />
        あと一息で公開できます！
        ページをよく確認して、内容に間違いなければ公開用ファイルをダウンロードしてください。次のステップに進みましょう！
      </p>
      <p data-lang="en">
        <strong>Preview is currently displayed.</strong><br />
        You are almost ready to publish! Check the page carefully and if you are sure of the content, download the file for publication. Proceed to the next step!
      </p>
    </div>
    <div class="prebuild-action">
      <a href="/preview.html?prebuild=true" class="prebuild-download"
        >👉 Download</a
      >
    </div>
  </div>
</aside>

<%- include('../_partial/_footer') %>
