@use "../global" as g;


.nav-share {
    margin: var(--space-5) auto;
    display: flex;
    gap: var(--space-2);
    justify-content: center;
}
.share-btn {
    display: flex;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    margin: 0 18px;
    text-decoration:none;
}
.share-x {
    background-color: var(--color-btn-x);
}
.share-don {
    background-color: var(--color-btn-don);
}
.share-mi {
    background-color: var(--color-btn-mi);
}
